@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");

html {
  font-family: "Arial";
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Pro";
}

body {
  display: flex;
  flex-direction: column;
  margin: auto auto 2rem;
  max-width: 30rem;
  width: 95%;
}

#survey-form {
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
}

.header {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

label {
  margin: 1rem 0 0.5rem;
}

#name-label {
  margin-top: 0;
}

.text input {
  max-width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
}

select {
    font-size: 1.2rem;
}

section {
  margin: 0.5rem 0;
}

input.other {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.2rem;
}

textarea {
  resize: none;
  font-size: 1rem;
  font-family: 'Arial';
}

#submit {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: grey;
  font-size: 1.2rem;
}

#submit:hover {
    cursor: pointer;
    background-color: black;
    color: #ffffff;
}
